<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/worklist.css" rel="stylesheet" type="text/css" />
    <script src="../jquery-3.6.0.min.js"></script>
    <title>moveList</title>
</head>
<body>
    <div id = "wrapper">
        <div id = "title">매칭됨</div>
        <div id = "home" onClick = "goHome()">HOME</div>
        <div id = "over" onclick="goOver()">진행중인 이사</div>
        <div id = "contents"></div>
    </div>
</body>
<script>
    const request = new XMLHttpRequest();
        request.onreadystatechange = function(){
            if(request.status == 200){
                console.log(request.responceText);
            }
        }
    request.open('GET','/worklist',true);
    request.responseType='json';
    request.setRequestHeader('Content-Type','application/json');
    request.onload = ()=>{
        var data = request.response;
        var obj = document.getElementById('contents');
        const opt = ['from','to','when'];
        const opttext = ['fromtext','totext','whentext'];
        for(var i=0; i<data.length; i++){
            if(data[i].people ==0){
                const name = i;
                var temp = [data[i].curpos,data[i].movpos,data[i].day]
                var newDiv1 = document.createElement("div");
                newDiv1.setAttribute("id",name);
                newDiv1.setAttribute("class",'list');
                var newDiv2 = document.createElement("div");
                newDiv2.setAttribute('class','listFrame');
                for(var k = 0; k<3; k++){
                    var newDiv3 = document.createElement("div");
                    newDiv3.setAttribute("class", "textgroup");
                    var option = document.createElement("div");
                    option.setAttribute("class",opt[k]);
                    option.innerHTML = opt[k].toUpperCase();
                    var optiontext = document.createElement("div");
                    optiontext.setAttribute("class",opttext[k]);
                    if (k==2){
                        const date = temp[k].toString();
                        const year = date.substring(0,4);
                        const month = date.substring(5,7);
                        let hour = parseInt(date.substring(11,13))+9;
                        const minute = date.substring(14,16);
                        let day =parseInt(date.substring(8,10));
                        if (hour >= 24){
                            hour -= 24
                            hour = '0'+hour.toString();
                            if (day < 9){
                                day = '0'+(day+1).toString();
                            }
                            else{
                                day = (day+1).toString();
                            }
                        }
                        optiontext.innerHTML = year + "."+month+"."+day + " "+hour + ':'+minute;
                    }
                    else{
                        optiontext.innerHTML = temp[k];
                    }
                    newDiv3.appendChild(option);
                    newDiv3.appendChild(optiontext);
                    newDiv2.appendChild(newDiv3);
                }
                newDiv1.appendChild(newDiv2);
                $(document).on('click','#'+name,function(){
                    console.log(name);
                    goWork(name);
                });
                obj.appendChild(newDiv1);
            }
        }
    };
    request.send();
    const goWork=(id)=>{
        const sendData = request.response[id];
        localStorage.setItem("user-info",JSON.stringify(sendData));
        location.href = "./completeDetail.html";
    }
    const goHome=()=>{
        location.href = "/";
    }
    const goOver=()=>{
        location.href = '/views/worklist.html';
    }
</script>
</html>