<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/main.css" rel="stylesheet" type="text/css" />
    <link href="/style/moveModal.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/icon.png">
    <title>MoveKit - 단거리 이사를 위한 플랫폼</title>
</head>
<body>
    <div id = "background"></div>
    <div id = "icon"></div>
    <button id = "move" type = 'button'>
            <span id="movetext" >이사하기</span>
    </button>
    <button id = "work" type = 'button' onClick = "goWork()">
            <span id="worktext" >일하기</span>
    </button>
    <div class = "black_bg"></div>
    <div class = "modal_wrap">
        <div>
            <h2 id = "title">이사 신청</h2>
            <div class = "content">
                <div class = "textlist">이름</div>
                <div class = "frame">
                    <input id = "name" class = "buttons" type="text" placeholder="이름을 입력하세요."/>
                </div>
                <div class = "textlist">전화번호</div>
                <div class = "frame">
                    <input id = "tel" class = "buttons" type ="tel" placeholder="전화번호를 입력하세요."/>
                </div>
                <div class = "textlist">지금 집 주소</div>
                <div class = "frame">
                    <input id = "curpos" class = "buttons" type="text" placeholder="현재 집주소를 입력하세요."/>
                </div>
                <div class = "textlist">이사갈 집 주소</div>
                <div class = "frame">
                    <input id = "movpos" class = "buttons" type="text" placeholder="이사갈 집 주소를 입력하세요."/>
                </div>
                <div class = "textlist">이사하는 날</div>
                <div class = "frame">
                    <input id = "day" class = "buttons" type="datetime-local" placeholder="이사하는 날짜를 선택해주세요."/>
                </div>
                <div class = "textlist">이삿짐의 양</div>
                <div class = "frame">
                    <input id = "goods" class = "buttons" type="text" placeholder="이삿짐의 양을 입력하세요."/>
                </div>
                <div class = "textlist">필요한 인원수</div>
                <div class = "frame">
                    <input id = "people" class = "buttons" type="number" placeholder="이사에 필요한 고용 인원수를 입력하세요"/>
                </div>
            </div>
            <button id = "cancel" class = ".modal_close" type="button" onclick="goCancel()"><span class = "submitText" style="color: #C1C1C1;">취소</span></button>
            <button id = "submit" type="button"><span class = "submitText" style="color: #FFFFFF;" onclick="goMain()">등록</span></button>
        </div>
    </div>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    window.onload = function() {
        document.getElementById('curpos').addEventListener("click",function(){
            new daum.Postcode({
                oncomplete:function(data){
                    document.getElementById("curpos").value = data.address;
                }
            }).open();
        });
        document.getElementById('movpos').addEventListener("click",function(){
            new daum.Postcode({
                oncomplete:function(data){
                    document.getElementById("movpos").value = data.address;
                }
            }).open();
        });
        function onClick() {
            document.querySelector('.modal_wrap').style.display ='block';
            document.querySelector('.black_bg').style.display ='block';
        }   
        function offClick() {
            document.querySelector('.modal_wrap').style.display ='none';
            document.querySelector('.black_bg').style.display ='none';
        }
        
        document.getElementById('move').addEventListener('click', onClick);
        document.querySelector('.modal_close').addEventListener('click', offClick);
    };
    const goMain=()=>{
        var orderInfo = new Object();
        orderInfo = {
            name : document.getElementById('name').value,
            tel : document.getElementById('tel').value,
            curpos : document.getElementById('curpos').value,
            movpos : document.getElementById('movpos').value,
            day : document.getElementById('day').value,
            goods : document.getElementById('goods').value,
            people : document.getElementById('people').value
        }
        const sending = JSON.stringify(orderInfo)
        const request = new XMLHttpRequest();
        request.onreadystatechange = function(){
            if(request.status == 200){
                console.log(request.responceText);
            }
        }
        request.open('POST','/',true);
        request.setRequestHeader('Content-Type','application/json');
        request.send(sending);
        document.querySelector('.modal_wrap').style.display ='none';
        document.querySelector('.black_bg').style.display ='none';
    }
    const goCancel = ()=>{
        document.querySelector('.modal_wrap').style.display ='none';
        document.querySelector('.black_bg').style.display ='none';
    }
    const goWork=()=>{
        location.href="/worklists";
    }
</script>
</html>