<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/style/workDetail.css" rel="stylesheet" type="text/css" />
    <title>workModal</title>
</head>
<body>
    <div id="infoFrame">
        <div id="listFrame">
            <div id = "from">FROM</div>
            <div id = "fromtext"></div>
            <div id ="to">TO</div>
            <div id = "totext"></div>
            <div id = "when">WHEN</div>
            <div id = "whentext"></div>
        </div>
        <div id = "upperline"></div>
        <div id = "distance">거리</div>
        <div id = "distext">508m</div>
        <div id = "goods">이사 규모</div>
        <div id = "goodstext"></div>
        <div id = "costtext">계산된 인건비는</div>
        <div id = "cost">30,000원</div>
        <div id = "lowerline"></div>
        <div id="nameframe">
            <div class="inputtext">이름</div>
            <div class="inputframe">
                <input type = "text" id = "input_name" class = 'input'/>
            </div>
        </div>
        <div id="telframe">
            <div class="inputtext">전화번호</div>
            <div class="inputframe">
                <input type = "tel" id = "input_tel" class = 'input'/>
            </div>
        </div>
        <button type = "button" id="cancel" onClick = "goList()"><div id = "buttontext" style="color: #C6C6C6;">취소</div></button>
        <button type = "button" id="submit" onClick = "goResult()"><div id = "buttontext" style="color: #FFFFFF;">신청</div></button>
    </div>
</body>
<script>
    const data = localStorage.getItem("user-info");
    const {_id,name,tel,curpos, movpos,day,goods,people,list} = JSON.parse(localStorage.getItem("user-info"));
    localStorage.removeItem("user-info");
    console.log(data);
    const cur = document.getElementById("fromtext");
    cur.innerHTML = curpos;
    const mov = document.getElementById("totext");
    mov.innerHTML = movpos;
    const when = document.getElementById("whentext");
    when.innerHTML = day;
    const good = document.getElementById("goodstext");
    good.innerHTML = goods;
    const goList = () =>{
        location.href = "/views/worklist.html";
    }
    const goResult = () =>{
        const id = _id;
        var changePeople = people-1;
        var changeList = list;
        const userinfo = new Object();
        userinfo.day = day;
        userinfo.name = name;
        userinfo.tel = tel;
        console.log(changeList[0]);
        const sending = new Object();
        sending.people = changePeople;
        const peopleList = new Object();
        peopleList.name = document.getElementById('input_name').value;
        peopleList.tel = document.getElementById('input_tel').value;
        const request = new XMLHttpRequest();
        request.onreadystatechange = function(){
            if(request.status == 200){
                console.log(request.responceText);
            }
        }
        const sendingJson = JSON.stringify(sending);
        const peopleJson = JSON.stringify(peopleList);
        request.open('PUT','/worklist/'+id,true);
        request.setRequestHeader('Content-Type','application/json');
        request.send(sendingJson);
        request.open('POST','/worklist/'+id+'/peoples',true);
        request.setRequestHeader('Content-Type','application/json');
        request.send(peopleJson);
        localStorage.setItem("user-info",JSON.stringify(userinfo))
        location.href = "./workResult.html";
    }
</script>
</html>